{% extends 'base.html' %}

{% load humanize %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Shifts</li>
{% endblock %}

{% block content %}
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Shifts for Week</th>
        <th>Shifts</th>
        <th>Runs</th>
        <th>Last Post</th>
      </tr>
    </thead>
    <tbody>
      {% for groupshift in groupshifts %}
        <tr>
          <td>
            <a href="{% url 'boards:group_detail' groupshift.pk %}">{{ groupshift.name }}</a>
            <small class="text-muted d-block">{{ groupshift.description }}</small>
          </td>
          <td class="align-middle">
            {{ groupshift.get_posts_count }}
          </td>
          <td class="align-middle">
            {{ groupshift.topics.count }}
          </td>
          <td class="align-middle">
            {% with post=groupshift.get_last_post %}
              {% if post %}
                <small>
                  <a href="{% url 'topic_posts' groupshift.pk run.shift.pk %}">
                    By {{ post.created_by.username }} {{ post.created_at|naturaltime }}
                  </a>
                </small>
              {% else %}
                <small class="text-muted">
                  <em>No posts yet.</em>
                </small>
              {% endif %}
            {% endwith %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
