{% extends 'base.html' %}

{% load humanize %}

{% block title %}
  {{ groupshift.name }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Shifts</a></li>
  <li class="breadcrumb-item active">{{ groupshift.name }}</li>
{% endblock %}


{% block content %}
  <div class="mb-4" >
    <a href="{% url 'new_topic' groupshift.pk %}" class="btn btn-primary">New Shift</a>
  </div>

  <table class="table table-hover mb-4">
    <thead class="thead-inverse">
      <tr>
        <th>Shift</th>
        <th>Posted By</th>
        <th>Count</th>
        <th>Views</th>
        <th>Last Update</th>
      </tr>
    </thead>
    <tbody>
      {% for shift in shifts %}
        {% url 'topic_posts' groupshift.pk shift.pk as shift_url %}
        <tr>
          <td>
            <p class="mb-0">
              <a href="{{ shift_url }}">{{ shift.shifts_text }}</a>
            </p>
            <small class="text-muted">
              Pages:
              {% for i in shift.get_page_range %}
                <a href="{{ topic_url }}?page={{ i }}">{{ i }}</a>
              {% endfor %}
              {% if shift.has_many_pages %}
              ... <a href="{{ topic_url }}?page={{ topic.get_page_count }}">Last Page</a>
              {% endif %}
            </small>
          </td>
          <td class="align-middle">{{ shift.starter.username }}</td>
          <td class="align-middle">{{ shift.replies }}</td>
          <td class="align-middle">{{ shift.views }}</td>
          <td class="align-middle">{{ shift.last_updated|naturaltime }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include 'includes/pagination.html' %}

{% endblock %}
